body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*===== HEADER=======*/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-header {
  display: flex;
  align-items: center;
}

.logo-header {
  display: block;
  padding: 24px 0;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 17px 0;
}

.logo-header-accent {
  color: #2e2f42;
}

.menu-open-btn {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.nav-list {
  display: none;
}

.address {
  display: none;
}

/*==========MENU===========*/

.mob-menu {
  width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list-menu {
  margin-top: 72px;
  margin-left: 16px;
}

.nav-item-menu {
  margin-bottom: 40px;
}

.nav-link-menu {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.ocean {
  color: #404bbf;
}

.contact-list-menu {
  margin-top: 128px;
  margin-bottom: 48px;
  margin-left: 16px;
}

.contact-item-menu:not(:last-child) {
  margin-bottom: 24px;
}

.contact-link-menu {
  color: #434455;
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.04em;
}

.iris {
  color: #4d5ae5;
}

.icons-container-menu {
  display: flex;
  gap: 40px;
  padding-left: 16px;
}

@media screen and (min-width: 768px) {
  .logo-header {
    margin-right: 120px;
  }

  .nav-list {
    display: flex;
    gap: 40px;
  }

  .studio::after {
    width: 100%;
    content: "";
    height: 4px;
    border-radius: 2px;
    background: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
  }

  .nav-link {
    display: block;
    padding: 24px 0;
    position: relative;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
    font-weight: 500;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus,
  .studio {
    color: #404bbf;
  }

  .address {
    display: block;
  }

  .contact-link {
    font-style: normal;
    font-size: 12px;
    line-height: 1.16;
    color: #434455;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-link:hover,
  .contact-link:focus {
    color: #404bbf;
  }

  .contact-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .menu-open-btn {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .logo-header {
    margin-right: 76px;
  }

  .contact-list {
    flex-direction: row;
    gap: 40px;
  }

  .contact-link {
    font-size: 16px;
    line-height: 1.5;
  }
}

/*==HERO===*/

.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-mob.jpg);
  padding-top: 72px;
  padding-bottom: 72px;
  max-width: 320px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #2e2f42;
}

@media screen and (main-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-mob@2x.jpg);
  }
}

.title {
  margin: 0 auto;
  margin-bottom: 72px;
  max-width: 216px;
  font-size: 56px;
  color: #fff;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.button {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-tab.jpg);
    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 768px;
  }

  @media screen and (main-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/hero-tab@2x.jpg);
    }
  }
  .title {
    margin-bottom: 36px;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-desk.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
  }

  @media screen and (main-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/hero-desk@2x.jpg);
    }
  }
  .title {
    margin-bottom: 48px;
  }
}

/*====== BENEFITS====*/

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.icons-container {
  display: none;
}

.sub-title {
  text-align: center;
  margin-bottom: 8px;
  font-size: 36px;
  line-height: 0.9;
  color: #2e2f42;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .benefits-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .benefits-item {
    width: calc((100% - 24px) / 2);
  }

  .sub-title {
    text-align: start;
    text-transform: capitalize;
  }
}

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .benefits-item {
    width: calc((100% - 72px) / 4);
  }

  .icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
  }

  .icon-benefit {
    fill: none;
  }

  .sub-title {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
  }
}

/*=======TEAM========*/

.section-team {
  background-color: #f4f4fd;
}

.little-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.team-item {
  margin: 0 auto;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  background-color: #ffffff;
}

.container-team {
  padding: 32px 0;
}

.subtitle {
  margin-bottom: 8px;
  text-align: center;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.desc {
  margin-bottom: 8px;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
}

.icons-team-container {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.icon-team-item {
  width: 40px;
  height: 40px;
}

.link-team-social {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-team-social:hover,
.link-team-social:focus {
  background-color: #404bbf;
}

.icon-team {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .section-team > .container {
    width: 584px;
  }

  .team-list {
    column-gap: 24px;
    row-gap: 64px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .section-team > .container {
    width: 1158px;
  }

  .team-list {
    gap: 24;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }
}

/*========PORTFOLIO======*/

.portfolio-list {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.portfolio-item {
  width: 288px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.container-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
  color: #f4f4fd;
  padding: 40px 32px;
}

.portfolio-item:hover .overlay {
  transform: translateY(0);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.sub-title-port {
  text-align: left;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.descrip {
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;
  }

  .portfolio-item {
    width: calc((100% - 72px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    column-gap: 24px;
    row-gap: 48px;
  }

  .portfolio-item {
    width: calc((100% - 24px * 2) / 3);
  }
}

/*========FOOTER=======*/

.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #2e2f42;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  text-align: center;
  justify-content: center;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-accent-footer {
  color: #f4f4fd;
}

.desc-footer {
  text-align: left;
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

.social-media {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  letter-spacing: 0.02em;
}

.icons-footer-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.icon-footer-item {
  width: 40px;
  height: 40px;
}

.link-footer-social {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer-social:hover,
.link-footer-social:focus {
  background-color: #31d0aa;
}
.icon-footer {
  fill: #f4f4fd;
}

.text-subscribe {
  margin-bottom: 16px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.form-input {
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  width: 288px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #fff;
  opacity: 0.3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-input::placeholder {
  color: #ffffff;
}

.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  height: 40px;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #fff;
  cursor: pointer;
  border: none;
}

.icon-frame {
  margin-left: 16px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .footer > .container {
    width: 584px;
  }

  .footer-container {
    column-gap: 24px;
    row-gap: 72px;
    text-align: left;
    justify-content: flex-start;
  }

  .social-media {
    text-align: left;
  }

  .form-input {
    width: 264px;
  }

  .form {
    gap: 24px;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1158px) {
  .footer > .container {
    width: 1158px;
  }

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    flex-wrap: nowrap;
    align-items: baseline;
  }

  .logo-footer-container {
    margin-right: 120px;
  }

  .social-footer-container {
    margin-right: auto;
  }

  .form-input {
    opacity: 1;
  }
}

/*=========MODAL==========*/

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  padding: 72px 16px 24px 16px;
  width: 288px;
  height: 623px;
  border-radius: 4px;
  background-color: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover > .icon-close,
.modal-close-btn:focus > .icon-close {
  fill: #ffffff;
}

.modal-text {
  text-align: center;
  margin-bottom: 16px;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.label-container {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-input {
  padding-left: 38px;
  height: 40px;
  width: 256px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.textarea-container {
  margin-bottom: 16px;
}

.textarea {
  display: block;
  padding: 8px 16px;
  height: 120px;
  width: 100%;
  resize: none;
  font-size: 12px;
  font-weight: 400;
  color: rgba(46, 47, 66, 0.4);
  line-height: 1.17;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
  border-color: #4d5ae5;
}

textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.container-input {
  position: relative;
}

.icon-input {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}

.modal-input:hover + .icon-input,
.modal-input:focus + .icon-input {
  fill: #4d5ae5;
  border-color: #4d5ae5;
}

.checkbox {
  margin-bottom: 24px;
}

.label-checkbox {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.check-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.privacy {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}

.form-check:checked + .label-checkbox span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.send-btn {
  display: block;
  margin: auto;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  background-color: #4d5ae5;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal {
    padding: 72px 24px 24px 24px;
    width: 408px;
    min-height: 584px;
  }
  .modal-input {
    width: 360px;
  }
}

@media screen and (min-width: 1158px) {
}
